
.bg-image {
  min-height:100%;
  background:linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../../assets/images/large-bg.jpg');
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.landing-text-container{
  z-index: 1;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  .title{
    font-size: 18px;
    margin-bottom: 5px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
  }

  .heading{
    font-size: 42px;
    position: relative;
    font-family: Poppins, 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .name{
    color: #72b626;
    font-weight: 700;
  }
  .sub-title{
    font-size: 26px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    .typed-cursor{
      display: none!important;
    }
  }
  @media only screen and (max-width: 400px) {
    .heading {
      font-size: 34px;
    }
    .sub-title {
      font-size: 20px;
    }
  }
}
.landing-social-container{
  z-index: 1;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  line-height: normal;
  cursor: pointer;
}





